<!DOCTYPE html>
<html lang="{% block language %}fr{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Essai{% endblock %}</title>
    {% block head_links %}{% endblock %}
    {% block head_scripts %}{% endblock %}
</head>
<body>
    {% block navigation %}{% endblock %}

    {% block header %}{% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block bottom_scripts %}{% endblock %}
</body>
</html>